BUSINESS GOAL AND HYPOTHESIS 

1. Ranking the most demanded societies in Bangalore
    Hypothesis: 
    Given the increase in number of people working in an hectic IT environment, apartments within a society charge higher rates than non society apartments in the same locality. (Assuming other factors are same or within 5% difference like Total Sqft)

2. Given the Location, Size of House and Budget -  suggesting the best apartment
    Hypothesis:
    For the same Size House, people prefer apartments which is in a society, has more sqft area, has more balcony, has more bathrooms in that order

In [25]:
#Import all libraries

import pandas as pd 
import numpy as np

DATA SOURCING

In [26]:
#Reading data into the Dataframe

df  = pd.read_csv(r"C:\Users\soura\Downloads\freecodecamp-intro-to-numpy-master\Python-Elective\Bengaluru_House_Data.csv")

CLEANUP AND TRANSFORMATION

In [27]:
#Preliminary read of columns, datatypes and size of the raw data

df.shape
df.dtypes
# df.head()
# df.tail()

area_type        object
availability     object
location         object
size             object
society          object
total_sqft       object
bath            float64
balcony         float64
price           float64
dtype: object

In [30]:
#Checking for null data across the data frame and removing any rows or columns which are not necessary for
# analysis or will hamper the analysis

df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [31]:
df[df['location'].isnull()]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
568,Super built-up Area,Ready To Move,NaN,3 BHK,Grare S,1600,3.0,2.0,86.0

In [24]:
location_properties = df['society'].value_counts().to_dict()
len(location_properties)

2688

In [ ]:
#Dropping columns which has no role in the Data Analysis for the Hypothesis testing
df.drop(columns=['society'], inplace=True)

In [ ]:

df['availability'] = df['availability'].apply(lambda row:1 if row == 'Ready To Move' else 0)
print(df['availability'].value_counts())
df.head()
df = df.drop_duplicates(keep= 'first')

In [ ]:
df['size'].unique()

In [ ]:
df.fillna({'balcony': df['balcony'].median()}, inplace=True)

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df['area_type'].unique()

In [ ]:
df_SuperBuilt = df.loc[df['area_type'] == 'Super built-up  Area']
df_PlotArea = df.loc[df['area_type'] == 'Plot  Area']
df_BuiltUp = df.loc[df['area_type'] == 'Built-up  Area']
df_CarpetArea = df.loc[df['area_type'] == 'Carpet  Area']

In [ ]:
df_PlotArea.head()

In [ ]:
def convert_range_to_numeric(value):
    try:
        # Check if value contains a range (e.g., "2100 - 2500")
        if '-' in value:
            # Split by '-' and strip any extra spaces
            parts = value.split('-')
            start = int(parts[0].strip())  # Convert first part to integer
            end = int(parts[1].strip())    # Convert second part to integer
            
            # Return the average of the range
            return (start + end) / 2
        
        # If it's not a range, try converting it directly to an integer
        return value
    
    except ValueError:
        # Handle cases where conversion fails
        print(f"Could not convert '{value}' to an integer.")
        return None

In [ ]:
print(df_PlotArea['size'].unique(), df_CarpetArea['size'].unique(), df_BuiltUp['size'].unique(), df_SuperBuilt['size'].unique())

df_PlotArea[df_PlotArea['size'] == '43 Bedroom']
print(df_PlotArea.dtypes)

df[df['location'].isnull()] = 'No Information Available'

In [ ]:
df[df['location'] == 'No Information Available']

In [ ]:
df_SuperBuilt['total_sqft'] = df_SuperBuilt['total_sqft'].apply(convert_range_to_numeric)