In [1]:
import pandas as pd

In [2]:
list_csvs = [r"C:\Users\soura\Downloads\freecodecamp-intro-to-numpy-master\Python-Elective\Quote-Equity-TORNTPHARM-EQ-25-11-2023-to-25-11-2024.csv",r"C:\Users\soura\Downloads\freecodecamp-intro-to-numpy-master\Python-Elective\Quote-Equity-TORNTPHARM-EQ-25-11-2022-to-24-11-2023.csv",r"C:\Users\soura\Downloads\freecodecamp-intro-to-numpy-master\Python-Elective\Quote-Equity-TORNTPHARM-EQ-25-11-2021-to-24-11-2022.csv",r"C:\Users\soura\Downloads\freecodecamp-intro-to-numpy-master\Python-Elective\Quote-Equity-TORNTPHARM-EQ-25-11-2020-to-24-11-2021.csv",r"C:\Users\soura\Downloads\freecodecamp-intro-to-numpy-master\Python-Elective\Quote-Equity-TORNTPHARM-EQ-25-11-2019-to-24-11-2020.csv"]

In [3]:
df = pd.concat( 
    map(pd.read_csv, list_csvs), ignore_index=True) 
df.shape

(1257, 14)

In [4]:
df.head()

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,22-Nov-2024,EQ,"3,102.05","3,189.70","3,102.05","3,101.95","3,171.00","3,167.10","3,157.59","3,590.70","2,025.70","2,90,862","91,84,24,037.90","43,775"
1,21-Nov-2024,EQ,"3,095.05","3,128.00","3,076.00","3,094.85","3,102.90","3,101.95","3,101.52","3,590.70","2,025.70","1,70,973","53,02,75,810.25","29,666"
2,19-Nov-2024,EQ,"3,105.60","3,133.55","3,085.90","3,105.60","3,087.85","3,094.85","3,108.01","3,590.70","2,025.70","1,71,432","53,28,12,144.55","25,390"
3,18-Nov-2024,EQ,"3,103.05","3,141.00","3,075.25","3,102.40","3,109.95","3,105.60","3,112.41","3,590.70","2,025.70","1,95,002","60,69,25,937.50","33,376"
4,14-Nov-2024,EQ,"3,116.05","3,141.45","3,094.60","3,116.60","3,115.00","3,102.40","3,121.00","3,590.70","2,024.65","2,23,405","69,72,46,412.05","25,293"

In [5]:
df.tail()
df.columns

Index(['Date ', 'series ', 'OPEN ', 'HIGH ', 'LOW ', 'PREV. CLOSE ', 'ltp ',
       'close ', 'vwap ', '52W H ', '52W L ', 'VOLUME ', 'VALUE ',
       'No of trades '],
      dtype='object')

In [6]:
#df.to_csv('TorrentPharma5Year.csv', index=False, encoding='utf-8')

In [7]:
df.isnull().sum()
drop_cols = ['series ', 'OPEN ', 'HIGH ', 'LOW ', 'ltp ','52W H ', '52W L ', 'VOLUME ', 'VALUE ',
       'No of trades ', 'vwap ']

In [8]:
df = df.drop(columns= drop_cols)

In [9]:
df.head()

         Date  PREV. CLOSE     close
0  22-Nov-2024     3,101.95  3,167.10
1  21-Nov-2024     3,094.85  3,101.95
2  19-Nov-2024     3,105.60  3,094.85
3  18-Nov-2024     3,102.40  3,105.60
4  14-Nov-2024     3,116.60  3,102.40

In [10]:
df.describe()

              Date  PREV. CLOSE     close
count          1257         1257      1257
unique         1243         1219      1219
top     04-Mar-2020     2,145.75  2,183.15
freq              6            6         6

In [11]:
df.dtypes

Date            object
PREV. CLOSE     object
close           object
dtype: object

In [12]:
df['Date '] = pd.to_datetime(df['Date '], errors='coerce')

In [13]:
df.head()

       Date  PREV. CLOSE     close
0 2024-11-22     3,101.95  3,167.10
1 2024-11-21     3,094.85  3,101.95
2 2024-11-19     3,105.60  3,094.85
3 2024-11-18     3,102.40  3,105.60
4 2024-11-14     3,116.60  3,102.40

In [14]:
df.shape

(1257, 3)

In [15]:
df.tail()

          Date  PREV. CLOSE     close
1252 2019-11-29     1,883.85  1,898.60
1253 2019-11-28     1,874.25  1,883.85
1254 2019-11-27     1,788.10  1,874.25
1255 2019-11-26     1,760.10  1,788.10
1256 2019-11-25     1,711.85  1,760.10

In [16]:
list_nifty = [r"C:\Users\soura\Downloads\freecodecamp-intro-to-numpy-master\Python-Elective\NIFTY 50-25-11-2019-to-24-11-2020.csv",r"C:\Users\soura\Downloads\freecodecamp-intro-to-numpy-master\Python-Elective\NIFTY 50-25-11-2020-to-24-11-2021.csv",r"C:\Users\soura\Downloads\freecodecamp-intro-to-numpy-master\Python-Elective\NIFTY 50-25-11-2021-to-24-11-2022.csv",r"C:\Users\soura\Downloads\freecodecamp-intro-to-numpy-master\Python-Elective\NIFTY 50-25-11-2022-to-24-11-2023.csv",r"C:\Users\soura\Downloads\freecodecamp-intro-to-numpy-master\Python-Elective\NIFTY 50-25-11-2023-to-22-11-2024.csv"]

In [17]:
df_Nifty = pd.concat( 
    map(pd.read_csv, list_nifty), ignore_index=True) 
df_Nifty.shape

(1243, 7)

In [18]:
df_Nifty.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (₹ Cr)
0,25-NOV-2019,11922.45,12084.50,11919.75,12073.75,5.342895e+08,19990.44
1,26-NOV-2019,12110.20,12132.45,12006.35,12037.70,1.201336e+09,46030.62
2,27-NOV-2019,12068.50,12114.90,12055.15,12100.70,5.842266e+08,19937.40
3,28-NOV-2019,12132.10,12158.80,12099.95,12151.15,6.204794e+08,21229.58
4,29-NOV-2019,12146.20,12147.40,12017.40,12056.05,8.044304e+08,21838.04

In [21]:
df_Nifty.columns
drop_cols_Nifty = ['High ', 'Low ', 'Shares Traded ',
       'Turnover (₹ Cr)']

In [22]:
df_Nifty = df_Nifty.drop(columns= drop_cols_Nifty)

In [23]:
df_Nifty.head()

         Date      Open     Close
0  25-NOV-2019  11922.45  12073.75
1  26-NOV-2019  12110.20  12037.70
2  27-NOV-2019  12068.50  12100.70
3  28-NOV-2019  12132.10  12151.15
4  29-NOV-2019  12146.20  12056.05

In [24]:
df_Nifty['Date '] = pd.to_datetime(df_Nifty['Date '], errors='coerce', format='%d-%b-%Y')

In [25]:
df_Nifty.dtypes

Date      datetime64[ns]
Open             float64
Close            float64
dtype: object

In [26]:
df_Nifty.head()

       Date      Open     Close
0 2019-11-25  11922.45  12073.75
1 2019-11-26  12110.20  12037.70
2 2019-11-27  12068.50  12100.70
3 2019-11-28  12132.10  12151.15
4 2019-11-29  12146.20  12056.05

In [28]:
df_Nifty.tail()

          Date      Open     Close
1238 2024-11-14  23542.15  23532.70
1239 2024-11-18  23605.30  23453.80
1240 2024-11-19  23529.55  23518.50
1241 2024-11-21  23488.45  23349.90
1242 2024-11-22  23411.80  23907.25

In [30]:
df_Nifty = df_Nifty.sort_values(by='Date ', ascending=False).reset_index(drop=True)

In [31]:
df_Nifty.head()

       Date      Open     Close
0 2024-11-22  23411.80  23907.25
1 2024-11-21  23488.45  23349.90
2 2024-11-19  23529.55  23518.50
3 2024-11-18  23605.30  23453.80
4 2024-11-14  23542.15  23532.70

In [ ]:
df.drop_duplicates

(1257, 3)

In [35]:
# Identify unique dates in both DataFrames
dates_pharma = set(df['Date '])
dates_nifty = set(df_Nifty['Date '])

# Compare the sets of dates to find missing dates
missing_dates_in_pharma = dates_nifty - dates_pharma
missing_dates_in_nifty = dates_pharma - dates_nifty

In [38]:
print("Missing dates in Pharma:", len(dates_pharma))
print("Missing dates in Nifty:", len(dates_nifty))

Missing dates in Pharma: 1243
Missing dates in Nifty: 1243

In [40]:
# Check for duplicate dates
duplicates = df[df.duplicated(subset='Date ', keep=False)]
print(duplicates)

          Date  PREV. CLOSE     close
1171 2020-03-04     2,145.75  2,183.15
1172 2020-03-04     2,145.75  2,183.15
1173 2020-03-04     2,145.75  2,183.15
1174 2020-03-04     2,145.75  2,183.15
1175 2020-03-04     2,145.75  2,183.15
1176 2020-03-04     2,145.75  2,183.15
1177 2020-03-03     2,127.25  2,145.75
1178 2020-03-03     2,127.25  2,145.75
1179 2020-03-03     2,127.25  2,145.75
1180 2020-03-03     2,127.25  2,145.75
1181 2020-03-03     2,127.25  2,145.75
1182 2020-03-03     2,127.25  2,145.75
1190 2020-02-19     2,131.90  2,242.15
1191 2020-02-19     2,131.90  2,242.15
1192 2020-02-19     2,131.90  2,242.15
1193 2020-02-19     2,131.90  2,242.15
1194 2020-02-19     2,131.90  2,242.15

In [41]:
df = df.drop_duplicates(subset='Date ', keep='first')

In [42]:
df.shape

(1243, 3)

In [43]:
df_Nifty.shape

(1243, 3)

In [44]:
df.head()

       Date  PREV. CLOSE     close
0 2024-11-22     3,101.95  3,167.10
1 2024-11-21     3,094.85  3,101.95
2 2024-11-19     3,105.60  3,094.85
3 2024-11-18     3,102.40  3,105.60
4 2024-11-14     3,116.60  3,102.40

In [45]:
df.columns

Index(['Date ', 'PREV. CLOSE ', 'close '], dtype='object')

In [47]:
# Remove commas and convert to numeric with error handling
df['PREV. CLOSE '] = pd.to_numeric(df['PREV. CLOSE '].str.replace(',', ''), errors='coerce')

In [49]:
# Remove commas and convert to numeric with error handling
df['close '] = pd.to_numeric(df['close '].str.replace(',', ''), errors='coerce')

In [50]:
df.head()

       Date   PREV. CLOSE    close
0 2024-11-22       3101.95  3167.10
1 2024-11-21       3094.85  3101.95
2 2024-11-19       3105.60  3094.85
3 2024-11-18       3102.40  3105.60
4 2024-11-14       3116.60  3102.40

In [51]:
df['Daily Return %'] = (df['close '] - df['PREV. CLOSE '])*100/df['PREV. CLOSE ']

In [52]:
df.head()

       Date   PREV. CLOSE    close   Daily Return %
0 2024-11-22       3101.95  3167.10        2.100292
1 2024-11-21       3094.85  3101.95        0.229413
2 2024-11-19       3105.60  3094.85       -0.346149
3 2024-11-18       3102.40  3105.60        0.103146
4 2024-11-14       3116.60  3102.40       -0.455625

In [53]:
df_Nifty.head()

       Date      Open     Close
0 2024-11-22  23411.80  23907.25
1 2024-11-21  23488.45  23349.90
2 2024-11-19  23529.55  23518.50
3 2024-11-18  23605.30  23453.80
4 2024-11-14  23542.15  23532.70

In [54]:
df_Nifty['Daily Return %'] = (df_Nifty['Close '] - df_Nifty['Open '])*100/df_Nifty['Open ']

In [55]:
df_Nifty.head()

       Date      Open     Close   Daily Return %
0 2024-11-22  23411.80  23907.25        2.116241
1 2024-11-21  23488.45  23349.90       -0.589864
2 2024-11-19  23529.55  23518.50       -0.046962
3 2024-11-18  23605.30  23453.80       -0.641805
4 2024-11-14  23542.15  23532.70       -0.040141

In [56]:
df.columns

Index(['Date ', 'PREV. CLOSE ', 'close ', 'Daily Return %'], dtype='object')

In [57]:
df_Nifty.columns

Index(['Date ', 'Open ', 'Close ', 'Daily Return %'], dtype='object')

In [58]:
df.rename(columns={'Date ': 'DATE', 'PREV. CLOSE ': 'PREV. CLOSE', 'close ': 'CLOSE'}, inplace=True)

In [59]:
df_Nifty.rename(columns={'Date ': 'DATE', 'Open ': 'OPEN', 'Close ': 'CLOSE'}, inplace=True)

In [60]:
df.head()

        DATE  PREV. CLOSE    CLOSE  Daily Return %
0 2024-11-22      3101.95  3167.10        2.100292
1 2024-11-21      3094.85  3101.95        0.229413
2 2024-11-19      3105.60  3094.85       -0.346149
3 2024-11-18      3102.40  3105.60        0.103146
4 2024-11-14      3116.60  3102.40       -0.455625

In [61]:
df_Nifty.head()

        DATE      OPEN     CLOSE  Daily Return %
0 2024-11-22  23411.80  23907.25        2.116241
1 2024-11-21  23488.45  23349.90       -0.589864
2 2024-11-19  23529.55  23518.50       -0.046962
3 2024-11-18  23605.30  23453.80       -0.641805
4 2024-11-14  23542.15  23532.70       -0.040141

In [62]:
# Merge DataFrames on 'date' column
merged_df = pd.merge(df, df_Nifty, on='DATE', how='inner')  # Inner join

In [63]:
merged_df.shape

(1243, 7)

In [64]:
merged_df.head()

,DATE,PREV. CLOSE,CLOSE_x,Daily Return %_x,OPEN,CLOSE_y,Daily Return %_y
0,2024-11-22,3101.95,3167.10,2.100292,23411.80,23907.25,2.116241
1,2024-11-21,3094.85,3101.95,0.229413,23488.45,23349.90,-0.589864
2,2024-11-19,3105.60,3094.85,-0.346149,23529.55,23518.50,-0.046962
3,2024-11-18,3102.40,3105.60,0.103146,23605.30,23453.80,-0.641805
4,2024-11-14,3116.60,3102.40,-0.455625,23542.15,23532.70,-0.040141

In [65]:
merged_df.to_csv('TorrentPharma5Year.csv', index=False, encoding='utf-8')

In [74]:
# Get today's date

from datetime import datetime, timedelta
today = merged_df.loc[0, 'DATE']
# Filter data for the last 1 year
last_year = today - timedelta(days=365)
last_1_year_df = merged_df[merged_df['DATE'] >= last_year].copy()

# Filter data for the last 3 years
last_3_years = today - timedelta(days=365*3)
last_3_year_df = merged_df[merged_df['DATE'] >= last_3_years].copy()

# Display results
print("Last 1 Year Data:")
print(last_1_year_df)

print("\nLast 3 Years Data:")
print(last_3_year_df)

last_5_year_df = merged_df

Last 1 Year Data:
          DATE  PREV. CLOSE  CLOSE_x  Daily Return %_x      OPEN   CLOSE_y  \
0   2024-11-22      3101.95  3167.10          2.100292  23411.80  23907.25
1   2024-11-21      3094.85  3101.95          0.229413  23488.45  23349.90
2   2024-11-19      3105.60  3094.85         -0.346149  23529.55  23518.50
3   2024-11-18      3102.40  3105.60          0.103146  23605.30  23453.80
4   2024-11-14      3116.60  3102.40         -0.455625  23542.15  23532.70
..         ...          ...      ...               ...       ...       ...
243 2023-11-30      2091.85  2126.55          1.658819  20108.50  20133.15
244 2023-11-29      2079.00  2091.85          0.618086  19976.55  20096.60
245 2023-11-28      2090.80  2079.00         -0.564377  19844.65  19889.70
246 2023-11-24      2106.55  2090.80         -0.747668  19809.60  19794.70
247 2023-11-23      2111.55  2106.55         -0.236793  19828.45  19802.00

     Daily Return %_y
0            2.116241
1           -0.589864
2           -0.046962
3           -0.641805
4           -0.040141
..                ...
243          0.122585
244          0.600955
245          0.227013
246         -0.075216
247         -0.133394

[248 rows x 7 columns]

Last 3 Years Data:
          DATE  PREV. CLOSE  CLOSE_x  Daily Return %_x      OPEN   CLOSE_y  \
0   2024-11-22      3101.95  3167.10          2.100292  23411.80  23907.25
1   2024-11-21      3094.85  3101.95          0.229413  23488.45  23349.90
2   2024-11-19      3105.60  3094.85         -0.346149  23529.55  23518.50
3   2024-11-18      3102.40  3105.60          0.103146  23605.30  23453.80
4   2024-11-14      3116.60  3102.40         -0.455625  23542.15  23532.70
..         ...          ...      ...               ...       ...       ...
741 2021-11-29      3036.10  3037.30          0.039524  17055.80  17053.95
742 2021-11-26      2990.55  3036.10          1.523131  17338.75  17026.45
743 2021-11-25      2817.50  2990.55          6.141970  17417.30  17536.25
744 2021-11-24      2821.50  2817.50         -0.141769  17550.05  17415.05
745 2021-11-23      2753.15  2821.50          2.482611  17281.75  17503.35

     Daily Return %_y
0            2.116241
1           -0.589864
2           -0.046962
3           -0.641805
4           -0.040141
..                ...
741         -0.010847
742         -1.801168
743          0.682942
744         -0.769229
745          1.282278

[746 rows x 7 columns]

In [71]:
print(today)

2024-11-22 00:00:00

In [ ]:
last_1_year_df

,DATE,PREV. CLOSE,CLOSE_x,Daily Return %_x,OPEN,CLOSE_y,Daily Return %_y
0,2024-11-22,3101.95,3167.10,2.100292,23411.80,23907.25,2.116241
1,2024-11-21,3094.85,3101.95,0.229413,23488.45,23349.90,-0.589864
2,2024-11-19,3105.60,3094.85,-0.346149,23529.55,23518.50,-0.046962
3,2024-11-18,3102.40,3105.60,0.103146,23605.30,23453.80,-0.641805
4,2024-11-14,3116.60,3102.40,-0.455625,23542.15,23532.70,-0.040141
...,...,...,...,...,...,...,...
243,2023-11-30,2091.85,2126.55,1.658819,20108.50,20133.15,0.122585
244,2023-11-29,2079.00,2091.85,0.618086,19976.55,20096.60,0.600955
245,2023-11-28,2090.80,2079.00,-0.564377,19844.65,19889.70,0.227013
246,2023-11-24,2106.55,2090.80,-0.747668,19809.60,19794.70,-0.075216
247,2023-11-23,2111.55,2106.55,-0.236793,19828.45,19802.00,-0.133394

In [77]:
last_3_year_df

,DATE,PREV. CLOSE,CLOSE_x,Daily Return %_x,OPEN,CLOSE_y,Daily Return %_y
0,2024-11-22,3101.95,3167.10,2.100292,23411.80,23907.25,2.116241
1,2024-11-21,3094.85,3101.95,0.229413,23488.45,23349.90,-0.589864
2,2024-11-19,3105.60,3094.85,-0.346149,23529.55,23518.50,-0.046962
3,2024-11-18,3102.40,3105.60,0.103146,23605.30,23453.80,-0.641805
4,2024-11-14,3116.60,3102.40,-0.455625,23542.15,23532.70,-0.040141
...,...,...,...,...,...,...,...
741,2021-11-29,3036.10,3037.30,0.039524,17055.80,17053.95,-0.010847
742,2021-11-26,2990.55,3036.10,1.523131,17338.75,17026.45,-1.801168
743,2021-11-25,2817.50,2990.55,6.141970,17417.30,17536.25,0.682942
744,2021-11-24,2821.50,2817.50,-0.141769,17550.05,17415.05,-0.769229
745,2021-11-23,2753.15,2821.50,2.482611,17281.75,17503.35,1.282278

In [78]:
last_5_year_df

,DATE,PREV. CLOSE,CLOSE_x,Daily Return %_x,OPEN,CLOSE_y,Daily Return %_y
0,2024-11-22,3101.95,3167.10,2.100292,23411.80,23907.25,2.116241
1,2024-11-21,3094.85,3101.95,0.229413,23488.45,23349.90,-0.589864
2,2024-11-19,3105.60,3094.85,-0.346149,23529.55,23518.50,-0.046962
3,2024-11-18,3102.40,3105.60,0.103146,23605.30,23453.80,-0.641805
4,2024-11-14,3116.60,3102.40,-0.455625,23542.15,23532.70,-0.040141
...,...,...,...,...,...,...,...
1238,2019-11-29,1883.85,1898.60,0.782971,12146.20,12056.05,-0.742207
1239,2019-11-28,1874.25,1883.85,0.512205,12132.10,12151.15,0.157021
1240,2019-11-27,1788.10,1874.25,4.817963,12068.50,12100.70,0.266810
1241,2019-11-26,1760.10,1788.10,1.590819,12110.20,12037.70,-0.598669
1242,2019-11-25,1711.85,1760.10,2.818588,11922.45,12073.75,1.269034

In [81]:
with pd.ExcelWriter('Torrent_Pharma_analysis.xlsx') as writer:
    last_1_year_df.to_excel(writer, sheet_name='1 Year', index=False)
    last_3_year_df.to_excel(writer, sheet_name='3 Years', index=False)
    last_5_year_df.to_excel(writer, sheet_name='5 Years', index=False)

In [80]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\soura\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip